<% include header %>


<% let i=0
let b=""
let c="";

let post1,post2,post3,post4;
%>
<%for (i=0; i< info.length; i++){ 
    if (i == info.length -1 ){
        post1=info[i]
    }
    if (i == info.length -2 ){
        post2=info[i]
    }
    if (i == info.length -3 ){
        post3=info[i]
    }
    if (i == info.length -4 ){
        post4=info[i]
    }
 } %>
<br/><br/><br/>
<section class="header1 cid-rkqw7X010M mbr-parallax-background" id="header1-e">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(204, 204, 204);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                   
               
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    Le Site high-tech
                </h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Site internet qui propose des publicaitons, nouvelles astuces, formations, tests, etc. 
                    pour progresser en informatique                
                </p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-rksoqLS7ND" id="content1-13">
        <div class="container">
                <h2 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                    MatiTech Le Site de la Technologie Informatique
                    </h2>
                
            <div class="media-container-row">
                <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8">
                    <div style="text-align: center">
                        <img class="align-center" src="../media/images/visionmatitechhaiti.png">
                    </div>
                    <p>
                        MatiTech Le Site de la Technologie de l'informatique

                        MatiTech : C’est une entreprise basée sur informatique 
                            et la technologie. D’où la composition du mot « mati » 
                            pour informatique et « tech » pour technologie. La carence en connaissance 
                            des nouvelles technologies et le manque de services informatiques 
                            font partie des problèmes qui ont suscité la création de la société.
                    </p>
                </div>
            </div>
        </div>
    </section>

<section class="counters1 counters cid-rkqHR1Pl0O" id="counters1-f">
    <div class="container">
        
        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div style="text-align: center">
                            <img class="align-center" src="../media/images/haitiformationMatitech.png">
                        </div>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                  10
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7"> Formation technologiques </h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Partage de vidéos portant sur la technologie afin de permettre à beaucoup plus de personnes de mieux la connaitre. Séminaire, Formation, Articles sur divers sujets technologiques.                            </p>
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div style="text-align: center">
                                <img class="align-center" src="../media/images/achtermatitechhaiti.png">
                        </div>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                              1
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                Boutique Electronique
                            </h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Vente de Matériels Informatiques et de Gadgets électroniques. Placez votre commande dès maintenant pour profiter d'une vie High-tech.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div style="text-align: center">
                            <img class="align-center" src="../media/images/logicielhaiticreatonmatitech.png">
                        </div>
                        <div class="card-text">
                            <h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
                                2
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">
                                Logiciels Informatiques
                            </h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Création de logiciel. Partenariat avec des entreprises possédant déjà des solutions informatiques pour des problèmes courants.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

   
</section>


<div class="media-container-row">
    <div class="col-7 col-md-4 col-lg-3">
        <img src="../media/images/matitech.png" width="100%" alt="matitechlogo">
    </div>
</div>

<section class="mbr-section article content1 cid-rkAO52Wwc7" id="content1-1d">
        <div class="container">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2680025918775324",
                enable_page_level_ads: true
            });
            </script>
        </div>
    <div class="container">
        <hr>
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8"><p>
                <% if (post1.media =="false") {%>
                    <h1 class="mbr-title pt-2 mbr-fonts-style display-2">
                        <%= post1.titre %>
                    </h1>
                    <pre class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                        <%=post1.message %>
                    </pre>
                    <br/>
                        <button type="button" class="btn btn-success">J'aime
                            <div>
                                <img src="/media/images/like.png" width="38" height="40">
                            </div>
                        </button>
                <%}else{ %>
                    <h1>
                        <%= post1.titre %>
                    </h1>
                    <% if (post1.mediatype =="image/jpeg" || post1.mediatype =="image/png" ){%>
                        <div class="mbr-figure">
                            <img src="<%= post1.media %>"  alt="image Matitech">
                        </div>
                    <%}else{%>
                        <video class="video-block" style="width: 80%" src="<%= doc.media %>" controls  alt="image Matitech">
                    <%}%>
                    <br/> 
                    <pre class="mbr-text text1 pt-2 mbr-light mbr-fonts-style display-7">
                        <%= post1.message %>
                    </pre>
                        <br/>
                        <button type="button" class="btn btn-success">J'aime
                            <div>
                                <img src="/media/images/like.png" width="38" height="40">
                            </div>
                        </button>
                <% } %>
            </div>
        </div>
    </div>
</section>


<section class="countdown1 cid-rkqL14yEZh" id="countdown1-i">
        <div class="container ">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-2680025918775324",
                    enable_page_level_ads: true
                  });
                </script>
        </div>
    <div class="container ">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Prochain événement
        </h2>
        <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
            Presentation de l'application Online Medical. Cette application permettera d'inter-connecter des patients, des donneurs d'organes
            des hopitaux. une revolution du numerique en haiti.
        </h3>
        <div style="text-align: center">
            <img class="align-center" src="../media/images/onlineMedicalMatitechlogo.png">
        </div>
    </div>
    <!-- <div class="container countdown-cont align-center">
        <div class="daysCountdown" title="Days"></div>
        <div class="hoursCountdown" title="Hours"></div>
        <div class="minutesCountdown" title="Minutes"></div>
        <div class="secondsCountdown" title="Seconds"></div>
        <div class="countdown pt-5 mt-2" data-due-date="2018/01/01"></div>
    </div> -->
</section>

<section class="services6 cid-rkqKyCIsFn" id="services6-h">
    <div class="container">
        <div class="row">
            <div class="title col-12">
                <h2 class="align-left mbr-fonts-style m-0 display-1">
                   Publications Recentes
                </h2>
            </div>
            <div class="card col-12 pb-5">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <% if (post2.media !=="false") {%>
                                <div class="col-12 col-md-2">
                                    <% if (post2.mediatype =="image/jpeg" || post2.mediatype =="image/png" ){%>
                                        <div class="mbr-figure">
                                            <img src="<%= post2.media %>" alt="image Matitech">
                                    </div>
                                    <%}else{%>
                                        <video class="video-block" style="width: 80%" src="<%= post2.media %>" controls  alt="image Matitech">
                                    <%}%>
                                </div>
                            <% } %>
                            <div class="col-12 col-md-10">
                                
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            <%= post2.titre %>
                                        </h4>
                                    </div>
                                    <div class="bottom-line">
                                        <script>
                                            a = "<%= post2.message %>";
                                            document.write(a.substr(0,40)+"...");
                                        </script>

                                        <form  action="publications" method="post" >
                                            <input id="idpost" style="background: none; border:none; color:red;" name="idpost" type="hidden" value="<%= post2.id %>">
                                            <input type="submit" class="btn btn-success" value="En savoir plus"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="card col-12 pb-5">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <% if (post3.media !=="false") {%>
                                <div class="col-12 col-md-2">
                                    <% if (post3.mediatype =="image/jpeg" || post3.mediatype =="image/png" ){%>
                                        <div class="mbr-figure">
                                            <img src="<%= post3.media %>" alt="image Matitech">
                                    </div>
                                    <%}else{%>
                                        <video class="video-block" style="width: 100%" src="<%= post3.media %>" controls  alt="image Matitech">
                                    <%}%>
                                </div>
                            <% } %>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            <%= post3.titre %>
                                        </h4>
                                    </div>
                                    <div class="bottom-line">
                                        <script>
                                            b = "<%= post3.message %>";
                                            document.write(b.substr(0,40)+"...");
                                        </script>

                                        <form  action="publications" method="post" >
                                            <input id="idpost" style="background: none; border:none; color:red;" name="idpost" type="hidden" value="<%= post3.id %>">
                                            <input type="submit" class="btn btn-success" value="En savoir plus"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="card col-12">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="row">
                            <% if (post4.media !=="false") {%>
                                <div class="col-12 col-md-2">
                                    <% if (post4.mediatype =="image/jpeg" || post4.mediatype =="image/png" ){%>
                                        <div class="mbr-figure">
                                            <img src="<%= post4.media %>" alt="image Matitech">
                                    </div>
                                    <%}else{%>
                                        <video class="video-block" style="width: 100%" src="<%= post4.media %>" controls  alt="image Matitech">
                                    <%}%>
                                </div>
                            <%} %>
                            <div class="col-12 col-md-10">
                                <div class="wrapper">
                                    <div class="top-line pb-3">
                                        <h4 class="card-title mbr-fonts-style display-5">
                                            <%= post4.titre %>
                                        </h4>
                                    </div>
                                    <div class="bottom-line">
                                        <script>
                                            c = "<%= post4.message %>";
                                            document.write(c.substr(0,40)+"...");
                                        </script>
                                        <form  action="publications" method="post" >
                                            <input id="idpost" style="background: none; border:none; color:red;" name="idpost" type="hidden" value="<%= post4.id %>">
                                            <input type="submit" class="btn btn-success" value="En savoir plus"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<div class="media-container-row">
    <div class="col-7 col-md-4 col-lg-3">
        <img src="../media/images/logopng.png" width="100%" alt="matitechlogo">
    </div>
</div>
<% include footer %>
